# ignore ALL .log files and further
*.log
*.vs
*.elf
*.hex
*.lss
*.o
*.atsuo
*.map
*.cproj

# ignore ALL files in ANY directory named Debug
Debug/
NODE2/.vs/Node2/v14/.atsuo
NODE2/.vs/Node2/v14/.atsuo
NODE2/.vs/Node2/v14/.atsuo
*.hex
*.lss
*.map
*.srec
*.cproj
NODE2/Node2/Debug/Node2.map
*.srec
